h1,h2,h3,label,select,p,input,div,ul,button, table {
	font-family:arial,helvetica;
}
body,html {
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	background:#1a1f4c
}
h1,h2 {
	font-variant: small-caps;
	text-align:center;
	color:white;
	font-size:55px;
	margin:0px;
	padding:0px;
	font-weight: bold;
}
h2 {
	font-size:30px;
	margin:0px 0px 20px;
	padding:0px;
	font-weight: bold;
	position:relative;
	top:-10px;
}
form {
	width:700px;
	margin:0 auto;
	border-color:#fff;
	border:10px solid rgba( 205,205,205,0.75 );
	border-radius:30px;
	padding:30px;
	background:#dddddd;
}

form.carForm {
	height: 680px;
}

form.short {
	height: 330px;
}

form.rentalForm {
	height: 790px;
	width: 900px;
}

form.historyForm {
	height: 700px;
}

label {
    font-weight: bold;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
	display: block;
    margin: 25px 0px 5px 0px;
}

label.guideLabel {
    font-style: oblique;
    font-size: 10px;
}

input[type=text]:focus {
	background-position:-2px -38px;
}
input[type=text] {
	text-indent:10px;
	border:0;
	width:228px;
	height:34px;
	background-position:-2px -2px;
	display:block;
	overflow:hidden;
	background-repeat:no-repeat;
	background-image:url(img/sprite.png);
}

table.forms {
	width: 37%;
	background: #bc7b01;
	padding: 5px;
	border-radius: 4px;
	border: 3px solid #bbbbbb;
	border-collapse: collapse;
	display: block;
    height: 180px;       
    overflow-y: auto;    
    overflow-x: auto;
}

table.big {
	width: 98%;
}

table.rental {
	width: 77%;
}

table.low {
	height: 70px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}



td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

nav {
	 border: 3px solid #bc7b01;
	 border-radius: 4px;
}


ul.small{height:30px; width:37%;}

nav ul.big{width:95%; height:150px;}


button {
	font-variant: small-caps;
	border-radius: 4px;
	background: #bc7b01;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #bc7b01;
	border: 3px solid #bc7b01;
	border-radius: 4px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #555;
    color: white;
}

button:hover {
    background-color: #555;
    color: white;
}

.centre {
	text-align: center;
}
.bottom {
	position: absolute;
    top: 760px;
	right: 650px
}

.bottom2 {
	position: absolute;
    top: 860px;
	right: 650px
}

.bottom3 {
	position: absolute;
    top: 780px;
	right: 650px
}

.bottomShort {
	position: absolute;
    top: 1300px;
	right: 650px
}

select {
	position: relative;
	display: inline-block;
	height: 20px;
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	border-radius: 4px;
	border:3px solid #CCC;
	*line-height: 20px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border: 1px solid #bbbbbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	cursor: pointer;
	vertical-align: middle;
}

	
input:focus, .focus {
	outline: #0000FF dotted thin;
}
input[type=file], select {
    opacity: 30;
}

div.padding {
	margin: 10px;
	padding: 10px;
}

div.error-msg {
	font-variant: small-caps;
	color: red;
	font-weight: bold;
}

div.correct-msg {
	font-variant: small-caps;
	color: green;
	font-weight: bold;
}

.larger {
    font-weight: bold;
	font-size:22px;
}

.optbox {
    margin: 0px 120px 0px 0px;
}

.optboxSmall {
    margin: 0px 80px 0px 0px;
}

.optbox2 {
    margin: 0px 270px 0px 0px;
}

.optbox4 {
    margin: 0px 270px 0px 20px;
}

.optbox5 {
    margin: 0px 120px 0px 20px;
}

.container {
    margin: 20px 0px;
	padding: 0px;
}

.container2 {
    margin: 0px 0px 0px 60px;
	padding: 0px;
}

.clearBox {
    overflow: hidden;
}
.left { 
    float: left; 
}
.custom-radio {
	width:50px;
	height:50px;
	display:block;
	overflow:hidden;
	background-repeat:no-repeat;
	
}

